@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



.clip-drop {
  position: relative;
  border-radius: 22% 10% 12% 34% / 48% 25% 24% 52%;

}

.radius-pill {
  border-radius: 52% 48% 50% 50% / 39% 52% 48% 44%;
}